{% comment %} Footer section. {% endcomment %}

<!-- Footer -->
<footer class="footer sticky-section" data-section-name="Footer">
    <div class="container">
        <div class="d-flex text-center align-items-center">
            <div class="w-100">
                <p>
                    Made with ❤️ by
                    <a href="{{ site.contributors }}">{{ site.authors }}</a>
                </p>
                <sub class="latest-update">Latest Update: {{ title.date }}</sub>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer -->
