{% comment %} Gallery section. {% endcomment %}

<div class="gallery sticky-section vh" data-section-name="Gallery">
    <div class="gallery-container container">
        <h1 class="section-header text-center">GALLERY</h1>
        <div class="gallery-content sch normal-scroll row" data-masonry='{"percentPosition": true }'>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/FabuS7pUEAEghCe.jpg' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery01.287e5d3c.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery04.889e1835.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery05.21c02d9f.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery07.b20fe2cb.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery08.7c5d4bc3.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery09.adfc4b05.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery13.c10a501b.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
            <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-3 p-0">
                <div class="card">
                    <img
                        src="{{ 'assets/images/gallery/gallery14.4baf6515.png' | relative_url }}"
                        alt=""
                        class="card-img align-self-center"
                    />
                </div>
            </div>
        </div>
    </div>
</div>
