{% comment %} Gallery section. {% endcomment %}

<div class="sticky-section vh" data-section-name="Gallery">
    <div class="container">
        <h1 class="section-header text-center">GALLERY</h1>
        <div class="row" data-masonry="{'percentPosition': true }">
            <div class="col bg-danger">1 of 5</div>
            <div class="col bg-info">2 of 5</div>
            <div class="col bg-warning">3 of 5</div>
            <div class="col bg-primary">4 of 5</div>
            <div class="col bg-success">5 of 5</div>
        </div>
    </div>
</div>
