{% comment %} Navigation bar {% endcomment %}

<!-- Navbar -->
<nav class="navbar-wrapper">
    <div class="navbar-toggle">
        <button
            class="btn hamburger hamburger--slider"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasTop"
            aria-controls="offcanvasTop"
            aria-label="Menu"
            aria-controls="navigation"
        >
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <div
        class="offcanvas offcanvas-top"
        tabindex="-1"
        id="offcanvasTop"
        aria-labelledby="offcanvasTopLabel"
        data-bs-backdrop="false"
    >
        <div class="offcanvas-content">
            <div class="offcanvas-header">
                <h4 id="offcanvasTopLabel">Navigation System</h4>
                <!-- <button
                    type="button"
                    class="btn-close text-reset"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                ></button> -->
            </div>
            <div class="offcanvas-body">
                <nav class="nav flex-column">
                    <a
                        class="nav-link"
                        aria-current="page"
                        data-scrollify-move="Home"
                        >Home</a
                    >
                    <a class="nav-link" data-scrollify-move="Assets">Assets</a>
                    <a class="nav-link" data-scrollify-move="Tools">Tools</a>
                    <a class="nav-link" data-scrollify-move="Gallery"
                        >Gallery</a
                    >
                </nav>
            </div>
        </div>
    </div>
</nav>

<!-- <nav class="navbar navbar-expand-sm d-flex flex-row">
    <div
        class="container-fluid d-flex justify-content-around align-items-center"
    >
        <a
            class="navbar-brand"
            href="{{ site.project_url }}"
            title="{{ site.title }}"
        >
            <img
              class="logo"
              src="{{ 'assets/images/ak-logo.png' | relative_url }}"
              alt="{{ site.title }} logo"
              draggable="false"
          />
            {{ site.title }}.</a
        >
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item">
                    <a
                        class="nav-link active-link"
                        aria-current="page"
                        href="{{ site.project_url }}"
                        title="Home"
                        >Home</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/games/" title="Games">Games</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->
<!-- /Navbar -->
