{% comment %} PRELOAD STYLES {% endcomment %}

<link
    rel="preload"
    href="{{ 'assets/css/bootstrap/bootstrap.min.css' | relative_url }}"
    as="style"
/>
<link
    rel="preload"
    href="{{ 'assets/css/bootstrap/bootstrap.min.css.map' | relative_url }}"
    as="style"
/>
<link
    rel="preload"
    href="{{ 'assets/css/hamburgers/hamburgers.min.css' | relative_url }}"
    as="style"
/>
<!-- <link
    rel="preload"
    href="{{ 'assets/css/bootstrap/bootstrap.rtl.min.css' | relative_url }}" as="style"
/>
<link
    rel="preload"
    href="{{ 'assets/css/bootstrap/bootstrap.rtl.min.css.map' | relative_url }}" as="style"
/> -->
<link
    rel="preload"
    href="{{ 'assets/css/style.css' | relative_url }}"
    as="style"
/>

{% comment %} PRELOAD SCRIPTS {% endcomment %}
<!--[if lt IE 9]>
    <link
        rel="preload"
        href="{{ 'assets/js/html5shiv/html5shiv.min.js' relative_url }}"
        as="script"
    />
    <link
        rel="preload"
        href="{{ 'assets/js/html5shiv/html5shiv-printshiv.min.js' relative_url }}"
        as="script"
    />
<![endif]-->
<link
    rel="preload"
    href="{{ 'assets/js/bootstrap/bootstrap.bundle.min.js' | relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/jquery/jquery-3.6.0.min.js' | relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/scrollify/jquery.scrollify.min.js' relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/vanilla-tilt/vanilla-tilt.pollyfill.min.js' relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/vanilla-tilt/vanilla-tilt.min.js' relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/masonry/masonry.pkgd.min.js' | relative_url }}"
    as="script"
/>
<link
    rel="preload"
    href="{{ 'assets/js/main.min.js' | relative_url }}"
    as="script"
/>
