{% comment%} Enqueue CSS and favicon. Recommended to use .ico instead of .png.
{% endcomment %}
<!-- <link
    rel="icon"
    href="{{ 'assets/img/favicon.png' | relative_url }}"
    type="image/png"
/> -->
<link
    rel="stylesheet"
    href="{{ 'assets/css/bootstrap/bootstrap.min.css' | relative_url }}"
/>
<link
    rel="stylesheet"
    href="{{ 'assets/css/bootstrap/bootstrap.min.css.map' | relative_url }}"
/>
<link
    rel="stylesheet"
    href="{{ 'assets/css/hamburgers/hamburgers.min.css' | relative_url }}"
/>
<!-- <link
    rel="stylesheet"
    href="{{ 'assets/css/bootstrap/bootstrap.rtl.min.css' | relative_url }}"
/>
<link
    rel="stylesheet"
    href="{{ 'assets/css/bootstrap/bootstrap.rtl.min.css.map' | relative_url }}"
/> -->
<link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}" />
