@font-face {
    font-family: "NicoKaku";
    src: url("../fonts/NicoKaku.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}
@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
}
